<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/ExtentDemo/ReportProject"><classes><class name="utils.ExtendReports.extentReports"><methods><include name="sampleTest"/></methods></class></classes></test></suite>